<div class="container py-4">
    <h2 class="text-center mb-4 fs-4">Submit Your Details</h2>
  
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row g-3">
        <!-- Name -->
        <div class="col-12">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="e.g. Rushikesh Ganachari">
          </mat-form-field>
        </div>
  
        <!-- Mobile Number -->
        <div class="col-12">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Mobile No</mat-label>
            <input matInput formControlName="mobile" placeholder="10-digit number">
          </mat-form-field>
        </div>
  
        <!-- Address -->
        <div class="col-12">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" rows="2" placeholder="Your current address"></textarea>
          </mat-form-field>
        </div>
  
        <!-- Skills -->
        <div class="col-12">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Skills</mat-label>
            <input matInput formControlName="skills" placeholder="e.g. Angular, .NET, SQL">
          </mat-form-field>
        </div>
  
        <!-- Hobbies -->
        <div class="col-12">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Hobbies</mat-label>
            <input matInput formControlName="hobbies" placeholder="e.g. Drawing, Football">
          </mat-form-field>
        </div>
  
        <!-- Photo Upload -->
        <div class="col-12">
          <label for="photoInput" class="form-label">Upload Photo (Image or PDF)</label>
          <input type="file" id="photoInput" class="form-control" accept="image/*,.pdf">
        </div>
  
        <!-- Submit -->
        <div class="col-12 d-grid">
          <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">
            Submit
          </button>
        </div>
      </div>
    </form>
  
    <button mat-button (click)="onBtnExport()">export to csv</button>
    <!-- AG Grid Section -->
    <div class="mt-5 ">
      <ag-grid-angular
      style="width: 100%;"
        class="ag-theme-material"
        [theme]="theme"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="single"
        [domLayout]="'autoHeight'"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
  